/* Hide scrollbar in Webkit-based browsers (e.g., Chrome, Edge, Safari) */
.scrollable-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in other browsers */
.scrollable-container {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Custom scrollbar */

.scrollable-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.75);
  border-radius: 5px;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(212, 212, 212, 0.2);
  border-radius: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.swiper-button-next {
  background-color: rgb(228 228 231 / 0.9);
  box-shadow: 0px 0px 5px rgb(39 39 42 / 0.7);
  color: rgb(39 39 42);
  padding: 1.25rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.swiper-button-next:hover {
  background-color: rgb(228 228 231 / 1);
}
.dark .swiper-button-next {
  background-color: rgb(39 39 42 / 0.7);
  color: rgb(228 228 231);
}

.dark .swiper-button-next:hover {
  background-color: rgb(39 39 42 / 0.9);
}

.swiper-button-prev {
  background-color: rgb(228 228 231 / 0.9);
  box-shadow: 0px 0px 5px rgb(39 39 42 / 0.7);
  color: rgb(39 39 42);
  padding: 1.25rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.swiper-button-prev:hover {
  background-color: rgb(228 228 231 / 1);
}
.dark .swiper-button-prev {
  background-color: rgb(39 39 42 / 0.7);
  color: rgb(228 228 231);
}

.dark .swiper-button-prev:hover {
  background-color: rgb(39 39 42 / 0.9);
}
